### query

In [129]:
import numpy as np 
import pandas as pd

In [130]:
np.random.seed(1)
df=pd.DataFrame(np.random.normal(size=(15,4)),columns=list('ABCD'))
df

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
3  -0.322417 -0.384054  1.133769 -1.099891
4  -0.172428 -0.877858  0.042214  0.582815
5  -1.100619  1.144724  0.901591  0.502494
6   0.900856 -0.683728 -0.122890 -0.935769
7  -0.267888  0.530355 -0.691661 -0.396754
8  -0.687173 -0.845206 -0.671246 -0.012665
9  -1.117310  0.234416  1.659802  0.742044
10 -0.191836 -0.887629 -0.747158  1.692455
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250
13 -1.142518 -0.349343 -0.208894  0.586623
14  0.838983  0.931102  0.285587  0.885141

#### A>0 and B<0 인 행을 선택

`-` 방법1

In [131]:
df.query('A>0 & B<0')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
6   0.900856 -0.683728 -0.122890 -0.935769
11  0.050808 -0.636996  0.190915  2.100255

`-` 방법2

In [132]:
df.query('A>0 and B<0')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
6   0.900856 -0.683728 -0.122890 -0.935769
11  0.050808 -0.636996  0.190915  2.100255

#### A<B<C 인 행을 선택

In [133]:
df.query('A<B<C')

           A         B         C         D
9  -1.117310  0.234416  1.659802  0.742044
13 -1.142518 -0.349343 -0.208894  0.586623

#### A>mean(A) 인 행을 선택

`-` 방법1

In [134]:
df.A.mean()

-0.018839420539994597

In [135]:
df.query('A>-0.018839420539994597')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
6   0.900856 -0.683728 -0.122890 -0.935769
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250
14  0.838983  0.931102  0.285587  0.885141

`-` 방법2

In [136]:
meanA=df.A.mean()
meanA

-0.018839420539994597

In [137]:
df.query('A> @meanA')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
6   0.900856 -0.683728 -0.122890 -0.935769
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250
14  0.838983  0.931102  0.285587  0.885141

#### A>mean(A) 이고, A<0.8 인 것을 선택

`-` 방법1

In [138]:
df.query(' A> @meanA and A<0.8')

           A         B         C         D
2   0.319039 -0.249370  1.462108 -2.060141
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250

`-` 방법2

In [139]:
df.query(' A> @meanA'
         ' and A<0.8')

           A         B         C         D
2   0.319039 -0.249370  1.462108 -2.060141
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250

`-` 참고사항: 아래는 에러가 발생한다.

In [140]:
df.query('A> @meanA'
         'and A<0.8')

SyntaxError: invalid syntax (<unknown>, line 1)

#### 단순인덱싱

In [141]:
df

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
1   0.865408 -2.301539  1.744812 -0.761207
2   0.319039 -0.249370  1.462108 -2.060141
3  -0.322417 -0.384054  1.133769 -1.099891
4  -0.172428 -0.877858  0.042214  0.582815
5  -1.100619  1.144724  0.901591  0.502494
6   0.900856 -0.683728 -0.122890 -0.935769
7  -0.267888  0.530355 -0.691661 -0.396754
8  -0.687173 -0.845206 -0.671246 -0.012665
9  -1.117310  0.234416  1.659802  0.742044
10 -0.191836 -0.887629 -0.747158  1.692455
11  0.050808 -0.636996  0.190915  2.100255
12  0.120159  0.617203  0.300170 -0.352250
13 -1.142518 -0.349343 -0.208894  0.586623
14  0.838983  0.931102  0.285587  0.885141

`-` 0, 3:5, 9:11 에 해당하는 row를 뽑고싶다. $\to$ 칼럼이름을 `index`로 받아서 사용한다.

In [142]:
df.query('index==0 or 3<=index <=5  or 9<=index <=11')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
3  -0.322417 -0.384054  1.133769 -1.099891
4  -0.172428 -0.877858  0.042214  0.582815
5  -1.100619  1.144724  0.901591  0.502494
9  -1.117310  0.234416  1.659802  0.742044
10 -0.191836 -0.887629 -0.747158  1.692455
11  0.050808 -0.636996  0.190915  2.100255

`-` 응용사례1

In [143]:
df.query('index==0 or index ==[8,9,10]')

           A         B         C         D
0   1.624345 -0.611756 -0.528172 -1.072969
8  -0.687173 -0.845206 -0.671246 -0.012665
9  -1.117310  0.234416  1.659802  0.742044
10 -0.191836 -0.887629 -0.747158  1.692455

`-` 응용사례2

In [144]:
i1= np.arange(3)
i1

array([0, 1, 2])

In [145]:
df.query('index in @i1  or index==5')

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
5 -1.100619  1.144724  0.901591  0.502494

`-` 시계열자료에서 특히 유용함

In [146]:
df2=pd.DataFrame(np.random.normal(size=(10,4)), columns=list('ABCD'), index=pd.date_range('20201226',periods=10))

In [147]:
df2

                   A         B         C         D
2020-12-26 -0.754398  1.252868  0.512930 -0.298093
2020-12-27  0.488518 -0.075572  1.131629  1.519817
2020-12-28  2.185575 -1.396496 -1.444114 -0.504466
2020-12-29  0.160037  0.876169  0.315635 -2.022201
2020-12-30 -0.306204  0.827975  0.230095  0.762011
2020-12-31 -0.222328 -0.200758  0.186561  0.410052
2021-01-01  0.198300  0.119009 -0.670662  0.377564
2021-01-02  0.121821  1.129484  1.198918  0.185156
2021-01-03 -0.375285 -0.638730  0.423494  0.077340
2021-01-04 -0.343854  0.043597 -0.620001  0.698032

In [148]:
df2.query(
    ' "2020-12-27"<= index <= "2021-01-03" ')

                   A         B         C         D
2020-12-27  0.488518 -0.075572  1.131629  1.519817
2020-12-28  2.185575 -1.396496 -1.444114 -0.504466
2020-12-29  0.160037  0.876169  0.315635 -2.022201
2020-12-30 -0.306204  0.827975  0.230095  0.762011
2020-12-31 -0.222328 -0.200758  0.186561  0.410052
2021-01-01  0.198300  0.119009 -0.670662  0.377564
2021-01-02  0.121821  1.129484  1.198918  0.185156
2021-01-03 -0.375285 -0.638730  0.423494  0.077340

In [149]:
df2.query(
    ' "2020-12-27"<= index <= "2021-01-03" '
    ' and A+B < C')

                   A         B         C         D
2020-12-27  0.488518 -0.075572  1.131629  1.519817
2020-12-31 -0.222328 -0.200758  0.186561  0.410052
2021-01-03 -0.375285 -0.638730  0.423494  0.077340

### FIFA 선수들 시각화

### FIFA data

`-` FIFA22라는 축구게임이 있음 (굉장히 인기있음) 

`-` 게임에 실제 선수들이 나오면서 선수들의 능력치가 세밀하게 구현되어 있음 

`-` 이 능력치에 대한 데이터셋은 캐글에 공개되어 있음

### Data

In [150]:
fifa22=pd.read_csv('2021-10-25-FIFA22_official_data.csv')