In [1]:
import pandas as pd

In [29]:
pd.read_csv("mid.csv")

    mid
0   190
1   100
2    95
3    95
4    90
5    85
6    80
7    75
8    75
9    70
10   70
11   65
12   65
13   65
14   65
15   60
16   60
17   60
18   60
19   60
20   60
21   60
22   60
23   60
24   55
25   55
26   55
27   55
28   50
29   50
30   50
31   50
32   50
33   45
34   45
35   45
36   45
37   45
38   40
39   40
40   40
41   40
42   40
43   40
44   40
45   40
46   40
47   20