### import

In [1]:
import numpy as np 
import pandas as pd 
import warnings
from IPython.display import HTML

In [2]:
#!pip install pandas_datareader 
from pandas_datareader import data as pdr

In [3]:
def show(fig): 
    return HTML(fig.to_html(include_plotlyjs='cdn',include_mathjax=False, config=dict({'scrollZoom':False})))

### line

#### 예제1 (matploblib)

In [4]:
symbols = ['AMZN','AAPL','GOOG','MSFT','NFLX','NVDA','TSLA']
start = '2020-01-01'
end = '2020-11-28'
df = pdr.get_data_yahoo(symbols,start,end)['Adj Close']

In [5]:
df

Symbols,AMZN,AAPL,GOOG,MSFT,NFLX,NVDA,TSLA
Date,,,,,,,
2019-12-31,1847.839966,72.337982,1337.020020,154.749741,323.570007,58.684025,83.666000
2020-01-02,1898.010010,73.988480,1367.369995,157.615112,329.809998,59.833767,86.052002
2020-01-03,1874.969971,73.269150,1360.660034,155.652527,325.899994,58.876068,88.601997
2020-01-06,1902.880005,73.852989,1394.209961,156.054840,335.829987,59.122974,90.307999
2020-01-07,1906.859985,73.505646,1393.339966,154.631989,330.750000,59.838753,93.811996
...,...,...,...,...,...,...,...
2020-11-20,3099.399902,116.621056,1742.189941,208.641098,488.239990,130.740677,489.609985
2020-11-23,3098.389893,113.152435,1734.859985,208.363434,476.619995,131.262634,521.849976
2020-11-24,3118.060059,114.464355,1768.880005,212.082260,482.880005,129.442032,555.380005
2020-11-25,3185.070068,115.319084,1771.430054,212.092178,485.000000,132.209152,574.000000
2020-11-27,3195.340088,115.875641,1793.189941,213.440857,491.359985,132.473877,585.760010

In [8]:
df.reset_index().melt(id_vars='Date')

           Date Symbols        value
0    2019-12-31    AMZN  1847.839966
1    2020-01-02    AMZN  1898.010010
2    2020-01-03    AMZN  1874.969971
3    2020-01-06    AMZN  1902.880005
4    2020-01-07    AMZN  1906.859985
...         ...     ...          ...
1612 2020-11-20    TSLA   489.609985
1613 2020-11-23    TSLA   521.849976
1614 2020-11-24    TSLA   555.380005
1615 2020-11-25    TSLA   574.000000
1616 2020-11-27    TSLA   585.760010

[1617 rows x 3 columns]