In [7]:
import pandas as pd

In [18]:
pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/gdp_df1.csv')

     GDP  Inequality Government
0    500          56          A
1    550          58          A
2    530          59          A
3    480          61          A
4    550          64          A
5    550          64          B
6    750          66          B
7    560          68          B
8    800          70          B
9    900          65          B
10   900          65          C
11   910          62          C
12  1100          61          C
13  1250          58          C
14  1350          63          C
15  1350          63          D
16  1500          57          D
17  1660          55          D

In [13]:
pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/gdp_df2.csv',index_col=0)

         A      B      C      D
pop  54232  48823  46823  45232

![](https://github.com/guebin/2021DV/blob/master/_notebooks/final_FIG4.png?raw=true)

In [16]:
pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/gdp_df3.csv',index_col=0)

   type
A  prog
B  cons
C  prog
D  cons

![](https://github.com/guebin/2021DV/blob/master/_notebooks/final_FIG5.png?raw=true)